*__pycache__*
*.pyc
*.py[cod]
*$py.class

/data/Real-time-Auto-License-Plate-Recognition-with-Jetson-Nano
/data/Car_License_Plate_Detection
/data/unlabeled_plates
/data/plateless_cars

*.zip
.ipynb_checkpoints
normalized_data

models*